.container {
  display: flex;
  padding: 50px;
}
.left {
  flex: 2;
}

.table {
  width: 100%;
  border-spacing: 20px;
}
.name {
  font-size: 18px;
  font-weight: 500;
  color: var(--main);
}
.tr > td {
  text-align: center;
}

.total {
  font-size: 22px;
  font-weight: 600;
}

.imgContainer {
  height: 100px;
  width: 100px;
  position: relative;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 50px;
  background-color: var(--secondary-light);
  max-height: 500px;
}
.heading {
  color: white;
  margin: 0;
}
.summary {
  font-size: 20px;
  color: white;
  margin: 0;
}

.summary > b {
  margin-right: 20px;
}
.btnWrapper {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  gap: 10px;
}
.btn {
  width: 100%;
  padding: 5px 0px;
  font-size: 16px;
  cursor: pointer;
  color: var(--main);
  font-weight: bold;
  align-self: center;
}

.btnPayment {
  padding: 8px;
  font-size: 16px;
  color: teal;
  font-weight: bold;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.btnPayment:hover {
  background-color: #f5f5f5;
}

@media screen and (max-width: 425px) {
  .container {
    flex-direction: column;
    padding: 20px;
  }
  .tbody {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
  }
  .thead {
    display: none;
  }
  .tr {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .imgContainer {
    height: 150px;
    width: 150px;
  }

  .price::before {
    content: "Price: ";
    font-weight: 600;
    font-size: 18px;
  }

  .qty::before {
    content: "Quantity: ";
    font-weight: 600;
    font-size: 18px;
  }

  .total::before {
    content: "Total: ";
    font-weight: 600;
    font-size: 18px;
  }

  .heading {
    font-size: 22px;
  }

  .summary {
    font-size: 18px;
  }

  .btn {
    width: 80%;
  }
}
